{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb mb-4 mt-2">
        <li class="breadcrumb-item active">Dashboard / Settings</li>
    </ol>

	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-box mr-1"></i>
	        Shiping Method Settings
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">

	        </div>
	    </div>
	</div>

	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-box mr-1"></i>
	        Vendor Payment Settings
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">

	        </div>
	    </div>
	</div>

</div>


<br><br>
{% endblock %}