{% extends "dashboard/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block bodyjs %}
<script>
  $(document).ready(function() {
        var table_url = "{% url 'all_product_list_dt' %}?condition=deactivate"
        var table =  $('#shopDataTable').DataTable({
            dom: 'Bfrtip',
            order: [[ 0, "desc" ]],
            paging: true,
            pageLength: 20,
            scrollX: true,
            responsive: false,
            fixedHeader: true,
            orderCellsTop: true,
            searching: true,
            processing: true,
            serverSide: true,
            ajax: {
                "url": table_url,
                "type": "POST",
                "headers": {'X-CSRFToken': '{{ csrf_token }}'}
            }
        });


  });

  function loadUpdateform(self){
    var url = $(self).attr("target_url")
    $.ajax({
      url: url,
      type: 'get',
      dataType: 'json',
      success: function (data) {
        $("#loadUpdateForm").html("");
        $("#loadUpdateForm").html(data.html_form);
        $("#myModalUpdate").modal()

      }
    });
  }

</script>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb mb-4 mt-2">
        <li class="breadcrumb-item active">Dashboard / Products</li>
    </ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-box mr-1"></i>
        Hiddens Products
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="shopDataTable" class="table table-bordered dt-responsive nowrap" style="width:100%; color: #7f7f7f !important;font-size: 14px;">
                <thead>
                    <tr class="dtable_header">
                      <th scope="col">ID</th>
                      <th scope="col">Image</th>
                      <th scope="col">Name</th>
                      <th scope="col">Vendor</th>
                      <th scope="col">Category</th>
                      <th scope="col">Original Price</th>
                      <th scope="col">Discount</th>
                      <th scope="col">Sell Price</th>
                      <th scope="col">Size</th>
                      <th scope="col">Color</th>
                      <th scope="col">Commission Percentange</th>
                      <th scope="col">Stock</th>
                      <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<div id="loadUpdateForm"></div>
{% endblock %}