{% extends "dashboard/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block bodyjs %}
<script>
  $(document).ready(function() {

    var table1 =  $('#shopDataTableSize').DataTable({
        dom: 'Bfrtip',
        order: [[ 0, "desc" ]],
        paging: true,
        pageLength: 20,
        scrollX: true,
        responsive: false,
        fixedHeader: true,
        orderCellsTop: true,
        searching: false
    });

  var table2 =  $('#shopDataTableColor').DataTable({
      dom: 'Bfrtip',
      order: [[ 0, "desc" ]],
      paging: true,
      pageLength: 20,
      scrollX: true,
      responsive: false,
      fixedHeader: true,
      orderCellsTop: true,
      searching: false
  });


  });

  function loadUpdateform(self){
    var url = $(self).attr("target_url")
    $.ajax({
      url: url,
      type: 'get',
      dataType: 'json',
      success: function (data) {
        $("#loadUpdateForm").html("");
        $("#loadUpdateForm").html(data.html_form);
        $("#myModalUpdate").modal()

      }
    });
  }

</script>
{% endblock %}


{% block content %}
<div class="container-fluid">
  <ol class="breadcrumb mb-4 mt-2">
      <li class="breadcrumb-item active">Dashboard / Color and Size</li>
  </ol>

        <div class="card mb-4">

            <div class="card-header">
                <i class="fas fa-box mr-1"></i>
                Sizes
                <div style="float: right;">
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#SizeModal">
                    Add Size
                  </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="shopDataTableSize" class="table table-bordered dt-responsive nowrap" style="width:100%; color: #7f7f7f !important;font-size: 14px;">
                        <thead>
                            <tr class="dtable_header">
                              <th scope="col">ID</th>
                              <th scope="col">Size</th>
                              <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for size in sizes %}
                          <tr>
                            <td>{{ size.id }}</td>
                            <td>{{ size }}</td>
                            <td>
                              <button class="btn btn-info btn-sm" target_url="{% url 'product_size_update' size.id %}" onclick="loadUpdateform(this);">Edit</button>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-box mr-1"></i>
                Colors
                <div style="float: right;">
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ColorModal">
                    Add Color
                  </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="shopDataTableColor" class="table table-bordered dt-responsive nowrap" style="width:100%; color: #7f7f7f !important;font-size: 14px;">
                        <thead>
                            <tr class="dtable_header">
                              <th scope="col">ID</th>
                              <th scope="col">Color</th>
                              <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for color in colors %}
                          <tr>
                            <td>{{ color.id }}</td>
                            <td>{{ color }}</td>
                            <td>
                              <button class="btn btn-info btn-sm" target_url="{% url 'product_color_update' color.id %}" onclick="loadUpdateform(this);">Edit</button>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>



<div class="modal" id="SizeModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Size</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="{% url 'product_size_create' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  
          <div class="form-row">
            <div class="col form-group">
              <label>Size</label>
                {% render_field size_form.size class="form-control" %}
            </div>
          </div>

          <div class="form-row" style="float: right;">
            <div class="col form-group">
               <button type="Submit" class="btn btn-info">Save</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>

<div class="modal" id="ColorModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Color</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="{% url 'product_color_create' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="form-row">
            <div class="col form-group">
              <label>Color</label>
                {% render_field color_form.color class="form-control" %}
            </div>
          </div>
          <div class="form-row" style="float: right;">
            <div class="col form-group">
               <button type="Submit" class="btn btn-info">Save</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>



<div id="loadUpdateForm"></div>
{% endblock %}