{% load static %}
<link rel="stylesheet" media="screen" href="{% static 'css/simplebar.min.css' %}"/>
<link rel="stylesheet" media="screen" href="{% static 'css/tiny-slider.css' %}"/>
<link rel="stylesheet" media="screen" href="{% static 'css/nouislider.min.css' %}"/>
<link rel="stylesheet" media="screen" href="{% static 'css/drift-basic.min.css' %}"/>
<link rel="stylesheet" media="screen" href="{% static 'css/lightgallery.min.css' %}"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<!-- Main Theme Styles + Bootstrap-->
<link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/xzoom.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}" media="all" />

<style>
	.container{
		max-width: 98% !important;
	}

	.custom-card-image{
		height: 300px;
		width: 100%;
	}

	.product-card:hover{
		border: 1px solid #00000030;
	}



@media only screen and (max-width: 480px) {
	.custom-card-image{
		height: 320px;
		width: 100%;
	}
}

@media only screen and (max-width: 720px) {
	.custom-card-image{
		height: 250px;
		width: 100%;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */

/*@media only screen and (min-width: 600px) {
	.custom-card-image{
		height: 200px;
		width: 100%;
	}
}*/

/* Medium devices (landscape tablets, 768px and up) */

/*@media only screen and (min-width: 768px) {
	.custom-card-image{
		height: 200px;
		width: 100%;
	}
}
*/
/* Large devices (laptops/desktops, 992px and up) */

/*@media only screen and (min-width: 992px) {
	.custom-card-image{
		height: 200px;
		width: 100%;
	}
}*/


/* Extra large devices (large laptops and desktops, 1200px and up) */

/*@media only screen and (min-width: 1200px) {
	.custom-card-image{
		height: 250px;
		width: 100%;
	}
} 

@media screen and (min-width: 1400px) {
	.custom-card-image{
		height: 250px;
		width: 100%;
	}
}
@media screen and (min-width: 1600px) {
	.custom-card-image{
		height: 250px;
		width: 100%;
	}
}
@media screen and (min-width: 1900px) {
	.custom-card-image{
		height: 310px;
		width: 100%;
	}
}*/



/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
	#ressImageHeight{
		height: 280px !important;
	}
}

/*// Medium devices (tablets, 768px and up)*/
/*@media (max-width: 768px) {}*/


/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/

/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/






</style>