{% load static %}
    <style>
      .address p{
        margin-bottom: 0px;
      }
    </style>
    <!-- Footer-->
    <!-- Footer-->
    <footer class="bg-dark pt-5">
      <div class="container">
        <div class="row pb-2">
          <div class="col-md-3 col-sm-4">
            <div class="widget widget-links widget-light pb-2 mb-4" style="color: rgba(255,255,255,0.65);">
              <img width="142" src="{{ site_title.logo.url }}" alt="FnFbuy"/><br>
              <span><span style="margin-right: 5px;"><i class="czi-phone"></i></span><a href="tel:{{ contactus.office_phone }}" style="color: rgba(255,255,255,0.65);">{{ contactus.office_phone }}</a></span><br>
              <span><span style="margin-right: 5px;"><i class="czi-mail"></i></span><a href="mailto:{{ contactus.office_email }}" style="color: rgba(255,255,255,0.65);">{{ contactus.office_email }}</a></span><br>

              <span class="address"><span style="margin-right: 5px;float:left;"><i class="czi-location"></i></span>{{ contactus.office_address|linebreaks }}</span>

              <p><span style="margin-right: 5px;"><i class="czi-time"></i></span>Opening hours: {{ contactus.working_hour }}</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">Info</h3>
              <ul class="widget-list">
                <li class="widget-list-item">
                  <a class="widget-list-link" href="{% url 'about_us' %}">About us</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="{% url 'contact_us' %}">Countact us</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="{% url 'faq_us' %}">FAQ</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="{% url 'terms_of_use' %}">Terms of Use</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">More Info</h3>
              <ul class="widget-list">
                <li class="widget-list-item">
                  <a class="widget-list-link" href="{% url 'login' %}">Customer Login</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="{% url 'register' %}">Registration</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="{% url 'vendor_login' %}">Seller Login</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="{% url 'vendor_register' %}">Seller Registration</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="{% url 'refund_return_policy' %}">Refund & Return</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">Top Categories</h3>
              <ul class="widget-list">
                {% for category in categories %}
                  <li class="widget-list-item">
                    <a class="widget-list-link" href="{% url 'category_details' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="widget pb-2 mb-4">
              <h3 class="widget-title text-light pb-1">Download our app</h3>
              <div class="d-flex flex-wrap">
                <div class="mr-2 mb-2"><a class="btn-market btn-apple" target="_blank" href="{% if apps %}{{ apps.ios_app_url }}{% else %}#{% endif %}" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a></div>
                <div class="mb-2"><a class="btn-market btn-google" target="_blank" href="{% if apps %}{{ apps.android_app_url }}{% else %}#{% endif %}" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
              </div>
              {% if contactus.facebook_url or  contactus.twitter_url or contactus.youtube_url %}
              <h3 class="widget-title text-light pb-1" style="margin-top: 5px;margin-bottom: 0.8rem;">Follow us</h3>
              {% if contactus.facebook_url %}
              <a href="{{ contactus.facebook_url }}" target="_blank" style="font-size: 16px;border: 1px solid #2b3445;padding: 7px;background-color: #2b3445;border-radius: 5px;margin-right: 5px;"><i class="czi-facebook"></i></a>
              {% endif %}
              {% if contactus.twitter_url %}
              <a href="{{ contactus.twitter_url }}" target="_blank" style="font-size: 16px;border: 1px solid #2b3445;padding: 7px;background-color: #2b3445;border-radius: 5px;margin-right: 5px;"><i class="czi-twitter"></i></a>
              {% endif %}
              {% if contactus.youtube_url %}
              <a href="{{ contactus.youtube_url }}" target="_blank" style="font-size: 16px;border: 1px solid #2b3445;padding: 7px;background-color: #2b3445;border-radius: 5px;margin-right: 5px;"><i class="czi-youtube"></i></a>
              {% endif %}
              
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="p-1 bg-darker">
        <div class="container">
          <div class="font-size-xs text-light opacity-50 text-center text-md-left" style="text-align: center !important;">© 2021 Hishop.com, Web and App Developed & maintenance by BIJOYTECH</div>
        </div>
      </div>
    </footer>

    <!-- Toolbar for handheld devices-->
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon czi-arrow-up">   </i></a>