{% extends "setting/base.html" %}
{% load i18n %}
{% block content %}


<div class="row" style="margin-top: 1em;">
<div id="loginbox" class="mainbox col-sm-6 ar-font">
  <b class="grey"  style="">{% trans "Change Password" %}</b>

  <div class="err_message" style="background-color: #e4e4e4;color: red">
  {% if form.errors %}
    {{ form.errors }}     
  {% endif %}
</div>


<form method="POST" action="">{% csrf_token %}
             
<div class="form-group">
	<label class="grey" style="font-weight: normal;">*{% trans "Old password:" %}</label>
	<input name="old_password" autofocus="" required="" id="id_old_password" type="password" placeholder="{% trans 'Old Password' %}" class="form-control">
</div>
<div class="form-group">
		<label class="grey full" style="font-weight: normal;" >*{% trans "New password:" %}</label>
		<input name="new_password1" required="" id="id_new_password1" type="password" placeholder="{% trans 'New Password' %}" class="form-control" data-toggle="password"> 
    <span class="helptext" >
		<span class="forgot">{% trans "Your password can't be too similar to your other personal information, must contain at least 8 characters, can't be a commonly used or entirely numeric password." %}</span></span>

</div>
<div class="form-group">
	<label class="grey full" style="font-weight: normal;" >*{% trans "Confirm new password:" %}</label>
  <input name="new_password2" required="" id="id_new_password2" type="password"  placeholder="{% trans 'Confirm password' %}" class="form-control" data-toggle="password">
</div>

<div class="form-group" style="margin-top:30px !important;">
	<input type="submit" class="btngreen btn btn-primary full btncfont" name="submit" value="{% trans 'Change Password' %}">
</div>

</form>





</div>
</div>


{% endblock content %}
