{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% trans "TOT password reset" %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'css.html' %}
  {% include 'js.html' %}
</head>
<body>
  <header>
    <nav class="navbar navbar-default " role="navigation">
      <div class="container hcontainer shcontainer">
          <div class=" row">
          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-4 xsheaderc1">
            <img src="{% static 'img/logo.png' %}" style="margin-top: 3px;" class="logo"/>
          </div>
          <div class="col-sm-2 col-md-1 hidden-sm hidden-md hidden-lg col-xs-4 create_btnn">

          </div>
            {% if not ONLY_LANGUAGE %}
              <div class="col-sm-2 col-md-1 hmlef hidden-sm hidden-lg hidden-md col-xs-4 create_btnn">
                <button class="transparent_btn btn btn-primary dropdown-toggle header_font" type="button" data-toggle="dropdown">{{ LANGUAGE_CODE.upper }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width: 96px !important;top: 123% !important;">
                  {% for lang,langcode in LANGUAGES %}
                  {% if lang != LANGUAGE_CODE %}
                  <li><a href="{% url 'changelang' lang %}?redirect={{ request.path }}">{{ lang.upper }}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          <div class="col-md-5 col-sm-5 col-xs-12 ">

          </div>
          <div class="col-md-1 col-xs-4"></div>
           <div class="col-sm-7 col-md-2  hidden-xs col-xs-4 create_btnn">

            </div>

            {% if not ONLY_LANGUAGE %}
            <div class="col-sm-2 col-md-1 hidden-xs col-xs-4 create_btnn">
              <button class="transparent_btn btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ LANGUAGE_CODE.upper }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" style="min-width: 96px !important;top: 123% !important;">
                {% for lang,langcode in LANGUAGES %}
                {% if lang != LANGUAGE_CODE %}
                <li><a href="{% url 'changelang' lang %}?redirect={{ request.path }}">{{ lang.upper }}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
      </div>
    </nav>
  </header>
  <section class="main" >
    <div class="container ">    
      <div id="loginbox" style="margin-top:90px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
         
          <div style="padding-top:10px" class="panel-body" >
          {% block content %}{% endblock %}
          </div>  
    
        </div>  
      </div>
    </div>
    </section>


</body>
</html>
