{% extends "registration/password_base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
      <p style="font-size: 20px;text-align: center;color: #7f7f7f;">{% trans "Change password" %}</p>
      <form method="POST" action="">{% csrf_token %}

        <center>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong style="color: #f00">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong style="color: #f00">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </center>

          {% if validlink %}
            <div class="form-group">
              <input name="new_password1" required="" id="id_new_password1" type="password" class="form-control ar-font" placeholder="New Password">
            </div>
            <div class="form-group">
              <input name="new_password2" required="" id="id_new_password2" type="password" class="form-control ar-font" placeholder="Confirm Password">
            </div>

            <ul style="margin-top: 10px;color: #7f7f7f;font-size: 14px;" class="ar-font">
              <li>{% trans "Your password can't be too similar to your other personal information." %}</li>
              <li>{% trans "Your password must contain at least 8 characters." %}</li>
              <li>{% trans "Your password can't be a commonly used password." %}</li>
              <li>{% trans "Your password can't be entirely numeric." %}</li>
            </ul>



        <div class="form-group" style="margin-top:30px !important;">
          <button  class="btngreen btn btn-primary full btncfont" type="submit">{% trans "Change password" %}</button>
        </div>
          {% else %}
            <p>
              {% blocktrans trimmed %}
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
              {% endblocktrans %}
            </p>
          {% endif %}
      </form>
{% endblock %}
