{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}

  <style>

  </style>

{% endblock %}

{% block bodyjs %}
<script src="{% static 'js/rater.min.js' %}"></script>
<script>

  options = {
      max_value: 5,
      step_size: 1,
      initial_value: 5
  };

  $(".rating").rate(options);

  $(".rating").on("change", function(ev, data){
      $("#starID").val(data.to)
  });

</script>
{% endblock %}

{% block content %}
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3 text-light mb-0">Order Confirmation</h1>
        </div>
      </div>
    </div>

    <div class="container pb-5 mb-2">
      <div class="row">
        <section class="col-lg-12">
          {% if already_reviewd %}
            <div class="pt-3">
              <div class="card py-3 mt-sm-3">
                <div class="card-body text-center">
                  <h2 class="h4 pb-3">Thank You for your Review.</h2>
                </div>
              </div>
            </div>
          {% else %}
         <div class="steps-light pb-3 mb-5">
            <div class="pt-3">
              <div class="card py-3">
                <div class="card-body">
                    <h4>{{ v_product.product.name }}</h4>
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#review">Review</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#cancel">Cancellation Request</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane container active" id="review">
                        <form method="POST" action="{% url 'product_review' v_product.id %}" enctype="multipart/form-data">{% csrf_token %}
                        <p>Give us your feedback.</p>
                        <div class="rating"></div>
                        <p style="margin-bottom: 2px;margin-top: 10px;">Share your experience</p>
                        {% render_field form.comment class="form-control" rows="3" %}
                        <p style="margin-bottom: 2px;margin-top: 10px;">Upload Image</p>
                        {% render_field form.image class="form-control" %}
                        {% render_field form.star class="form-control"  id="starID" value="5" type="hidden" %}
                        <button type="" class="btn btn-info" style="float: right;margin-top: 10px;">Submit</button>
                        </form>
                      </div>
                      
                      <div class="tab-pane container fade" id="cancel">
                        {% if not v_product.is_cancellation_request %}
                        <form action="{% url 'cancel_order_form' v_product.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                          <p style="margin-bottom: 2px;margin-top: 10px;">Reason why you want to cancel this product.</p>
                          {% render_field cform.details class="form-control" rows="3" %}
                          <p style="margin-bottom: 2px;margin-top: 10px;">Upload Image</p>
                          {% render_field cform.image class="form-control" %}
                          <button type="submit" class="btn btn-info" style="float: right;margin-top: 10px;">Submit</button>
                        </form>
                        {% else %}
                        <div class="pt-3">
                          <div class="card py-3 mt-sm-3">
                            <div class="card-body text-center">
                              <h2 class="h4 pb-3">Your request is in process</h2>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

        </section>
      </div>

    </div>

{% endblock %}